:root {
    --light-grey: #dddddd;
    --medium-grey: #aaaaaa;
    --cube-side-length: 30vh;
    --cube-z-offset: calc(var(--cube-side-length)/2);
}

body {
    display: block;
}

h1 {
    color: var(--light-grey);
    font-family: "Turret Road", sans-serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 4px;
    font-size: 4rem;
    margin: 0;
}

h2 {
    color: var(--medium-grey);
    font-family: "Turret Road", sans-serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 4px;
    font-size: 2rem;
    margin: 0;
}

.space {
    display: flex;
    height: 1000vh;
    width: 100%;
    background-color: black;
}

.space-title {
    position: fixed;
    margin-top: 0;
    transform: translateX(-25vw);
    cursor: default;
    z-index: 100;
}

.meteor {
    position: fixed;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.planet {
    position: fixed;
    width: 300px;
    height: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: planetSpin 15s infinite linear;
}

@keyframes planetSpin {
    0%   { transform: translate(-50%, -50%) rotate(0deg) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg) rotate(360deg); }
}

.white-card-wrapper {
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 90vh;
    width: 100%;
    left: 0;
    overflow: hidden;
}

.white-card-container {
    display: flex;
    height: auto;
    width: 110vw;
    flex-direction: column;
    transform: skewY(-10deg);
    transform-origin: center, center;
    will-change: transform;
}

.white-card {
    height: 200vh;
    width: 100%;
    background-color: white;
    opacity: 75%;
}

/* --------- Banderoller Start --------- */  
.white-card-banderoller {
    height: 100px;
    width: 100%;
    background-color: var(--light-grey);
    overflow: hidden;
    position: relative;
}

.marquee {
    width: 100%;
    display: inline-block;
    white-space: nowrap;
    position: absolute;
    will-change: transform;
    overflow: hidden;
}

.marquee span {
    display: inline-block;
    font-size: 2rem;
    color: var(--medium-grey);
    font-family: "Turret Road", sans-serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 4px;
    margin-top: 10px;
    padding-left: 100%;
    animation: marquee  8s linear infinite;
}

.marquee2 span {
    animation-delay: 4s;
}

@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}
/* --------- Banderoller End --------- */  

.transition-gradient {
    height: 500px;
    width: 100%;
    background: linear-gradient(to bottom, black, white 100%);
}


/* --------- Cube Start --------- */  
.cube-scene {
    width: var(--cube-side-length);
    height: var(--cube-side-length);
    perspective: 800px;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.cube {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateX(-45deg) rotateY(45deg);
    will-change: transform;
    transition: transform 0.2s ease-out;
}

.face {
    position: absolute;
    width: var(--cube-side-length);
    height: var(--cube-side-length);
    background: rgba(0, 128, 255, 0.8);
    border: 2px solid #fff;
    font-size: 24px;
    text-align: center;
    line-height: 200px;
    cursor: pointer;
}

.cube-img {
    width: 100%;
    height: 100%;
}

.front  { transform: rotateY(  0deg) translateZ(var(--cube-z-offset)); }
.back   { transform: rotateY(180deg) translateZ(var(--cube-z-offset)); }
.right  { transform: rotateY( 90deg) translateZ(var(--cube-z-offset)); }
.left   { transform: rotateY(-90deg) translateZ(var(--cube-z-offset)); }
.top    { transform: rotateX( 90deg) translateZ(var(--cube-z-offset)); }
.bottom { transform: rotateX(-90deg) translateZ(var(--cube-z-offset)); }
/* --------- Cube End --------- */  

